<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>E-mail</ion-label>
      <ion-input type="text" value="" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="login()">Entrar</ion-button>
  <ion-button expand="full" (click)="goNovoUsuario()">Cadastre-se</ion-button>
  <ion-button expand="full" (click)="goNovaSenha()">Esqueceu sua senha</ion-button>
  <ion-card class="welcome-card">
    <img src="/assets/minsterio.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Oi Galerinha Paz do Senhor !
         Vocês gostariam de  acompanhar de pertinho tudo o que acontece no "Ministério da Tia Belinha e sua turminha"</ion-card-subtitle>
      <ion-card-title>Bemvindos ao Gospel Kids</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Por meio de seu contato, será transmitida a palavra do Senhor seja através de cenários bíblicos, com animações e personagens insfantis, murais , músicas e muito mais...Você precisa
        fazer login ou ainda não tem cadastro?   tudo bem Cadastra-se.
      </p>
    </ion-card-content>
  </ion-card>

  
</ion-content>

