<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>E-mail</ion-label>
      <ion-input type="text" value="" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button icon-left size="medium" expand="full" shape="round" color="success" tappable (click)="login()">Entrar</ion-button>
  <ion-button icon-left size="medium" expand="full" shape="round" tappable (click)="goNovoUsuario()">Novo Usuário</ion-button>
  <ion-button icon-left size="medium" expand="full" shape="round" color="danger" tappable (click)="goNovaSenha()">Redefinir Senha</ion-button>
  <ion-card class="welcome-card">
    <img src="/assets/minsterio.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Oi Galerinha Paz do Senhor !
         Vocês gostariam de  acompanhar de pertinho tudo o que acontece no "Ministério da Tia Belinha e sua turminha"</ion-card-subtitle>
      <ion-card-title>Bemvindos ao Gospel@Kids</ion-card-title>
    </ion-card-header>
        <ion-card-content>
      <p>Não consulte seus medos, mas suas esperanças e sonhos. Não pense sobre suas frustrações, mas sobre seu potencial não desenvolvido. Não se preocupe com os fracassos, acredite naquilo que você ainda realizará.
      </p>
    </ion-card-content>
  </ion-card>

  
</ion-content>

