<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/tia logo.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Oi Galerinha Paz do Senhor !
           Vocês gostariam de  acompanhar de pertinho tudo o que acontece no "Ministério da Tia Belinha e sua turminha"</ion-card-subtitle>
        <ion-card-title>Bemvindos ao Gospel@Kids</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>“Instrua a criança segundo os objetivos que você tem para ela, e mesmo como passar dos anos não se desviará deles.” (Provérbios 22:6 – Bíblia Sagrada NVI) 

        </p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Entretenimentos</ion-label>
      </ion-list-header>
      <ion-item href="https://tiabelinhaeventos.000webhostapp.com/home">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Visite nosso Site</ion-label>
      </ion-item>
           <ion-item href="https://www.facebook.com/TiaBelinhaOficial/">
        <ion-icon slot="start" color="medium" name="logo-facebook"></ion-icon>
        <ion-label>Facebook</ion-label>
      </ion-item>
      <ion-item href="https://www.youtube.com/channel/UCA47xDrKQFlN-Euf0utGGXg">
        <ion-icon slot="start" color="medium" name="logo-hackernews"></ion-icon>
        <ion-label>Vídeos "Youtube" </ion-label>
      </ion-item>
      <ion-item href="https://www.instazu.com/profile/tiabelinhaoficial
      ">
        <ion-icon slot="start" color="medium" name="photos"></ion-icon>
        <ion-label>Instagram@tiabelinhaoficial </ion-label>
      </ion-item>
      <ion-item href="https://www.google.com.br/maps/@-22.8824383,-43.5561232,16z">
        <ion-icon slot="start" color="medium" name="logo-google"></ion-icon>
        <ion-label>Google Maps</ion-label>
      </ion-item>
    </ion-list>
</ion-content>